@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, sans-serif;
  color-scheme: dark; /* Force le mode sombre navigateur */
}

body {
  /* Fond très sombre (presque noir) pour faire ressortir les couleurs */
  @apply bg-slate-950 text-gray-100;
  min-height: 100vh;
}

/* Scrollbar personnalisée style gaming */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-purple-600 rounded-full;
}
